{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    Register
{% endblock %}

{% block body_block %}

    <link href="{% static 'quiz/login.css' %}" rel="stylesheet">

    <div class="parent-form-container">    
        <div class="form-container">
            <div class="screen">

                <h3>Register Here</h3>

                <form class="login" method="post" action=".">

                    {% csrf_token %}
                    
                    {{ form.as_p }}

                    <input type="submit" value="Register" />

                </form>

            </div>
        </div>
    </div>

{% endblock %}

