body {
    background-color: #FFF5EE;
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    font-weight:700;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
}

.sticky + .content {
    padding-top: 102px;
  }