{% extends 'quiz/base.html' %}

{% block title_block %}
    Login
{% endblock %}
    
{% block body_block %}

    <div class="shadow p-4 mb-5 bg-body rounded">

        <h1>Login</h1>

        <br/><br/>


        <form action="" method=POST>
            
            {% csrf_token %}

            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" aria-describedby="emailHelp">
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label">Password</label>
                <input type="password" class="form-control" name="password">
            </div>

            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>

    </div>

{% endblock %}
