{% extends 'quiz/base.html' %}

{% block title_block %}
    Login
{% endblock %}
    
{% block body_block %}

    {% if form.errors %}
        <div class="alert alert-primary d-flex align-items-center" role="alert">
            <div>
                There was an error with your form
            </div>
        </div>
    {% endif %}

    <div class="shadow p-4 mb-5 bg-body rounded">

        <h1>Register</h1>

        <br/><br/>

        <form action="{% url 'registration' %}" method=POST enctype="multipart/form-data">
            
            {% csrf_token %}

            {{ form.as_p }}

            {{ pfp_form.as_p }}

            <input type="submit" value="Submit" class="btn btn-secondary">

        </form>

    </div>

{% endblock %}
