{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Homepage
{% endblock %}

{% block body_block %}
    
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	
	<div class="container">
		<div class="row align-items-start">
			<div class="col" id = 'Most Viewed'>

				<br/>

				<h1>Most Viewed Quizzes</h1>
				<hr>
				<br/>
				
				<div class="list-group">
					{% for quiz in views %}
						<a href="{% url 'quiz:take_quiz' quiz.slug %}" class="list-group-item list-group-item-action" aria-current="true">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ quiz.title }}</h5>
							<small>{{ quiz.date }}</small>
						</div>
						<p class="mb-1">{{ quiz.description }}</p>
						</a>
					{% empty %}
						<li>No quizzes have been viewed yet.</li>
					{% endfor %}
				</div>
	
			</div>
		
			<div class="col" id = 'Most Recent'>

				<br/>

				<h1>Most Recent Quizzes</h1>
			
				<hr><br/>

				<div class="list-group">
					{% for quiz in recents %}
						<a href="{% url 'quiz:take_quiz' quiz.slug %}" class="list-group-item list-group-item-action" aria-current="true">
						<div class="d-flex w-100 justify-content-between">
							<h5 class="mb-1">{{ quiz.title }}</h5>
							<small>{{ quiz.date }}</small>
						</div>
						<p class="mb-1">{{ quiz.description }}</p>
						</a>
					{% empty %}
						<li>No quizzes have been viewed yet.</li>
					{% endfor %}
				</div>

			</div>

		</div>
	</div>
	


{% endblock %}