{% extends 'quiz/base.html' %}
{% load static %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}

{% block body_block %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'quiz/profile.css' %}">
    </head>

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
        </div>
    </div>
    <hr />

        <div class="col"></div>
        <div class="col2"></div>

        <div class="card col3" style="width: 18rem;">
            <img class="card-img-top" src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image">
            <div class="card-body">
              <h5 class="card-title">Personal Information</h5>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Username: {{selected_user.username}}</li>
              <li class="list-group-item">Email: {{ selected_user.email }}</li>
            </ul>
            <div class="card-body">
              <a href="{% url 'quiz:update_user' %}" class="card-link">Edit Profile</a>
            </div>
        </div>

        
{% endblock %}




