{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
Quizzes
{% endblock %}

{% block body_block %}

    <br/>

    <h1>Quizzes</h1>

    <hr><br/>

    <h2>The top 20 most viewed quizzes</h2>

    <br/>

    <div class="list-group">
        {% for quiz in top_viewed %}
            <a href="{% url 'quiz:take_quiz' quiz.slug %}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ quiz.title }}</h5>
                <small>{{ quiz.date }}</small>
            </div>
            <p class="mb-1">{{ quiz.description }}</p>
            </a>
        {% empty %}
            <li>No quizzes have been viewed yet.</li>
        {% endfor %}
    </div>

    <br/><br/>

    <h2>All Quizzes</h2>

    <br/>

    <div class="list-group">
        {% for quiz in recently_added %}
            <a href="{% url 'quiz:take_quiz' quiz.slug %}" class="list-group-item list-group-item-action" aria-current="true">
            <div class="d-flex w-100 justify-content-between">
                <h5 class="mb-1">{{ quiz.title }}</h5>
                <small>{{ quiz.date }}</small>
            </div>
            <p class="mb-1">{{ quiz.description }}</p>
            </a>
        {% empty %}
            <li>No quizzes have been viewed yet.</li>
        {% endfor %}
    </div>

    <br/><br/>

{% endblock %}