{% extends 'quiz/base.html' %}
{% load staticfiles %}

{% block title_block %}
    {% if quiz %}
        {{ quiz.title }}
    {% else %}
    404
    {% endif %}
{% endblock %}

{% block body_block %}

    <br/>

    <h1>{{ quiz.title }}</h1>

    <hr>

    <br/>

    <form method="post" action ="{% url 'quiz:quiz_result' quiz.slug %}">
    {% csrf_token %}
    {% for question in quiz.question_set.all %}
        
        <div class="container">
            <h3>{{ question.description }}</h3>
            {% for answer in question.answer_set.all %}
                <input class="form-check-input" type = "radio" name = "answer{{ question.id }}" value = "{{ answer.id }}" id = "answer{{ forloop.counter }}" required> 
                <label class="form-check-label" for="answer{{ forloop.counter }}">{{ answer.description }} </label>
                <br>
            {% endfor %}
        </div>

        <br/>
    {% endfor %}

    <br/><br/>

    <input class="btn btn-secondary" type="submit" value = "Submit Answers"/> 
    </form>
{% endblock %}

