<!DOCTYPE html>
{% load staticfiles %}
{% load static %}
{% load quiz_template_tags %}

<html>
    <head lang="en">
        <meta charset="UTF-8" />
        <title>
            (placeholder name) -
            {% block title_block %}
                (default)
            {% endblock %}
        </title>
        <link rel="stylesheet" type="text/css" href="{% static 'quiz/base.css' %}">
    </head>
    <body>
        <div>
            {% block body_block %}
            {% endblock %}
        </div>


        <link rel="stylesheet" href="{% static 'css/homepage.css' %}">

        <nav class="navbar">

            <ul class="nav-links">
            
                <div class="menu">
                        <li><a class="active" href="{% url 'home' %}">Home</a></li>
                    {% if user.is_authenticated %}
                        <li><a href="{% url 'auth_logout' %}?next={% url 'quiz:home' %}">Logout</a></li>
                        <li><a href="{% url 'auth_password_change' %}">Change Your Password</a></li>
                    {% else %}
                        <li><a href="{% url 'registration_register' %}">Sign Up</a></li>
                        <li><a href="{% url 'auth_login' %}">Login</a></li>
                    {% endif %}
                </div>
            </ul>
        </nav>

    </body>
</html>