{% extends 'quiz/base.html' %}
{% load static %}

{% block title_block %}
    Profile for {{ selected_user.username }}
{% endblock %}


{% block body_block %}

    <head>
        <link rel="stylesheet" type="text/css" href="{% static 'quiz/profile.css' %}">
    </head>

    <div class="jumbotron p-4">
        <div class="container">
            <h1 class="jumbotron-heading">{{ selected_user.username }}'s Profile</h1>
        </div>
	<h2> <li class="nav-item"><a class="nav-link" href="{% url 'quiz:home' %}">Home Page </a></li> </h2>
    </div>
    <hr />

        <div class="col"></div>
        <div class="col2"></div>

        <div class="col3">
            <h2>Personal information</h2>
            <img src="{{ MEDIA_URL }}{{ user_profile.picture }}" width="300" height="300" alt="{{ selected_user.username }}'s profile image" />
            <br />
			<div class="user-info">
			<p> Username: {{selected_user.username}}</p>
			<p> Email: {{ selected_user.email }} </p>
            <div>
                {% if selected_user == user %}
                    <form method="post" action="." enctype="multipart/form-data">
                        {% csrf_token %}
                        {{ form.as_p }}
                        <input type="submit" value="Update" />
                    </form>
                {% endif %}
            </div>
            </div>
        </div>
{% endblock %}




